[submodule ".shellsmith"]
	path = .shellsmith
	url = https://github.com/marjohnsen/shellsmith
	branch = main
[submodule "shared"]
	path = shared
	url = https://www.github.com/marjohnsen/my_shellsmith_workspace
	branch = shared
